
.card {
    font-family: Arial;
    margin-bottom: 100px;
}

.flex-div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.about-div {
    margin-left: 10px;
}



.img {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

.icn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}